<figure>
  <IMG SRC="input/FAU.png" WIDTH=250 ALIGN="right">
</figure>

# Data Handling and Scientific Computing in Python 3
    
*David B. Blumenthal, Suryadipto Sarkar*

---
## Python modules and packages

- Python files with the `.py` extension are called **modules**.
- Collections of related modules are called **packages**.
- There is a huge variety of Python packages for numerous purposed.
- Today, we will learn about three very widely used packages: **NumPy**, **pandas**, and **SciPy**.

---
## Syntax for importing packages

```python
import package                       # Import a package.
import package as pkg                # Import a package and assign an abbreviation to it.
from package import something        # Import functionality from a package.
from package import something as sth # Import functionality from a package and assign an abbreviation to it.
```

---
## Efficient number crunching with NumPy

- Main class `ndarray` representing **multi-dimensional arrays**.
- Provides many useful **mathematical functions**.
- Backend implemented in **C** and **Fortran** $\Longrightarrow$ **very fast** if only library calls are used.
- Documentation and tutorials available [here](https://numpy.org).
- Typically imported as follows:

In [1]:
import numpy as np

---
## Creating a `np.ndarray`

In [2]:
a = np.array([1,2,3,4,5])                            # Create one-dimensional array from list.
print(f'a=\n{a}\n')
b = np.array([[1,2,3],[4,5,6]])                      # Create two-dimensional array from list.
print(f'b=\n{b}\n')
print(f'b has shape {b.shape}.\n')                   # Get shape of array.
c = np.ones(shape=(3,2))                             # Create two-dimensional array of ones of given shape.
print(f'c=\n{c}\n')
d = np.zeros(shape=(5), dtype=int)                   # Create one-dimensional array of integer zeros.
print(f'd=\n{d}\n')
e = np.arange(start=0, stop=11, step=2, dtype=float) # Use range-construction of array of floats.
print(f'e=\n{e}\n')
f = e.reshape(3, 2)                                  # Create array from existing array, transforming its shape.
print(f'f=\n{f}\n')

a=
[1 2 3 4 5]

b=
[[1 2 3]
 [4 5 6]]

b has shape (2, 3).

c=
[[1. 1.]
 [1. 1.]
 [1. 1.]]

d=
[0 0 0 0 0]

e=
[ 0.  2.  4.  6.  8. 10.]

f=
[[ 0.  2.]
 [ 4.  6.]
 [ 8. 10.]]

---
## Indexing and slicing one-dimensional arrays

### Syntax for indexing

```python
value_at_index = array[index] # Get value at index.
array[index] = new_value      # Update value at index.
```

### Syntax for slicing

```python
array_slice = array[start:stop:step] # Get array slice.
array[start:stop:step] = new_slice   # Update array slice.
```

- **Default `start=0`**: If `start` is omitted, we start at the beginning.
- **Default `end=len(array)`**: If `end` is omitted, we end at the last element.
- **Default `step=1`**: If `step` is omitted, we use a step-size of 1.

### Example

In [3]:
a[1:5:2] = [100, 101]
a

array([  1, 100,   3, 101,   5])

---
## <a name="ex1"></a>Exercise 1

Create an integer array of zeros with length 20. Change the first 5 values to 10. Change the next 10 values to a sequence starting at 12 and increasing with steps of 2 to 40 (do this with one command). Set the final 5 values to 30. Print the string `'The second but last entry in the array is <ENTRY>.'`, using an f-String.

<a href="#ex1sol">Solution for Exercise 1</a>

---
## Indexing and slicing two-dimensional arrays

- For each dimension, just like in the one-dimensional case.
- Seperate dimensions via `,`.

### Example

In [5]:
a = np.zeros((3, 8)) # Array of floating point zeros with 3 rows and 8 columns.
a[0, 0] = 100        # Assign 0 to top-left element.
a[1, 4:] = 200       # Row with index 1, columns starting with index 4 to the end.
a[2, -1:4:-1] = 400  # Row with index 2, columns from the end with steps of -1 and stop before reaching index 4
print(a)

[[100.   0.   0.   0.   0.   0.   0.   0.]
 [  0.   0.   0.   0. 200. 200. 200. 200.]
 [  0.   0.   0.   0.   0. 400. 400. 400.]]

---
## <a name="ex2"></a>Exercise 2

Create a two-dimensional integer array `x` with the following values:
$$
x = \begin{pmatrix}4&2&3&2\\2&4&3&1\\2&4&1&3\\4&1&2&3\end{pmatrix}
$$
Subsequently, write code to print:
- The first row of `x`.
- The first column of `x`.
- The third row of `x`.
- The last two columns of `x`.
- The 2 by 2 block of values in the upper right-hand corner of `x`.
- The 2 by 2 block of values at the center of `x`.

<a href="#ex2sol">Solution for Exercise 2</a>

---
## Numeric operations

### Element-wise operations

- **General syntax:** `a <operator> b`, where `a` and `b` are `np.ndarray` objects with the same shape.
- Yields an array with the same shape as `a` and `b`.

```python
c = a + b # Element-wise addition.
c = a - b # Element-wise substraction.
c = a * b # Element-wise multiplication.
c = a / b # Element-wise division.
```

### Scalar operations

- **General syntax:** `scalar <operator> a` or `a <operator> scalar`, where `a` is a `np.ndarray` object and `scalar` is a scalar.
- Yields array with the same shape as `a`.

```python
c = 2 + a  # Add 2 to all elements. Equivalent to a + 2.
c = 2 * a  # Multiply all elements by 2. Equivalent to a * 2.
c = 2 - a  # Substract all elements from 2.
c = a - 2  # Substract 2 from all elements.
c = 2 / a  # Divide 2 by all elements.
c = a / 2  # Divide all elements by 2.
c = a ** 2 # Take all elements to the power of 2.
c = 2 ** a # Take 2 to the power of all elements.
```

### Very basic linear algrebra

- **Matrix multiplication:** `a @ b`, where `a` and `b` are `np.ndarray` objects whose inner dimensions match. That is, if `a` is of shape $(n,m)$, `b` must be of shape $(m,k)$ for some $k$. Yields `np.ndarray` object of shape $(n,k)$.
- **Matrix transposition:** `a.T`, where `a` is an `np.ndarray` object of shape $(n,m)$. Yields `np.ndarray` object of shape $(m,n)$.

```python
b = a.T   # Transpose array a to obtain array b.
c = a @ b # Multiply a with b.
```

- **Much more functionality** is available via the [`np.linalg`](https://numpy.org/doc/stable/reference/routines.linalg.html) submodule and the member functions of the [`np.ndarray`](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html) class. Read the linked documentations for more information.

---
## Why you should use NumPy

- Construct an array $l=[0,1,\ldots,99999]$ of $10^5$ items using Python `list` and `np.ndarray`.
- Compute the maximum using standard and NumPy functionality.
- Compare speed.

### Constructing lists / arrays

In [7]:
%%timeit -n 100 # Execute cell 100 times and measure and report runtime.
python_list = list(range(0,100000))

2.57 ms ± 146 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
%%timeit -n 100
numpy_array = np.arange(0,100000)

52.4 µs ± 25.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

- **Construction is around $40$ times faster if you use NumPy.**

### Computing maxima in lists / arrays

In [9]:
python_list = list(range(0,100000))

In [10]:
%%timeit -n 100
max_val = 0
for val in python_list:
    if val > max_val:
        max_val = val
max_val

3.09 ms ± 161 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [11]:
%%timeit -n 100
max(python_list)

1.45 ms ± 140 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
numpy_array = np.arange(0,100000)

In [13]:
%%timeit -n 100
np.max(numpy_array)

81.5 µs ± 22.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [123]:
2.58 * 1000 / 57.4

44.94773519163763

- **Computing maxima with `np.max` is around $20$ times faster than with Python's inbuilt `max` function and around $40$ times faster than with a for-loop.**
- $\Longrightarrow$ For performant code, **use library functions** whenever possible.

---
## <a name="ex3"></a>Exercise 3

1. Read the CSV file `input/array_a.csv` and store it in an `np.ndarray` `a` of appropriate shape. You can either write your own parser or use an appropriate library function.
2. Compute another array `b` as $b=(a^\top - \pi)\cdot e$. Consult [NumPy's documentation](https://numpy.org/doc/stable/reference/) to find out how to obtain the constants $\pi$ and $e$.
3. Compute a third array `c` as $c=ab$ and save it in a CSV file `output/array_c.csv`.
4. Use a nested for-loop to compute the column-wise sums of `c` and store them in a one-dimensional array `d`. Measure the runtime using `%%timeit`.
5. Now do the same but use an appropriate member function of `np.ndarray` instead of a for-loop. Again, measure the runtime using `%%timeit`.

In [ ]:
# Use this cell for tasks 1, 2, and 3.

In [ ]:
# Use this cell for task 4.

In [ ]:
# Use this cell for task 5.

<a href="#ex3sol">Solution for Exercise 3</a>

---
## Data management with pandas

- Very widely used package for **managing tabular data**.
- Main class **`DataFrame`**.
- Extensive documentation can be found [here](https://pandas.pydata.org/docs/).
- Typically imported as follows:

In [18]:
import pandas as pd

---
## Introductory example

- Consider the file `input/transport.csv`, which looks as follows:

```
country, car, bus, rail
some more explanations, yada yada yada
France, 86.1, 5.3, 8.6 
Germany, 85.2, 7.1, 7.7 
Netherlands, 86.4, 4.6, 9 
United Kingdom, 88.2, 6.5, 5.3
```

- We now load it into a `pd.DataFrame` object using `pd.read_csv`:

In [19]:
tran = pd.read_csv('input/transport.csv', skiprows=[1], skipinitialspace=True, index_col=0) # Read DataFrame.
display(tran)                                                                               # And display it.

                 car  bus  rail
country
France          86.1  5.3   8.6
Germany         85.2  7.1   7.7
Netherlands     86.4  4.6   9.0
United Kingdom  88.2  6.5   5.3

- The first argument specifies the path to the file.
- We use **`skiprows=[1]`**, because we don't want to load the second row `some more explanations, yada yada yada`.
- We use **`skipinitialspace=True`**, because we want to get rid off the leading spaces in the column names.
- We use **`index_col=0`**, because we want to use the country names as indices.
- The function `pd.read_csv` has **many more optional arguments**. More more information, consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

---
## Basic `DataFrame` manipulation

### Accessing column and index/row names

In [20]:
print(tran.columns) # Column names.
print(tran.index)   # Index/row names.

Index(['car', 'bus', 'rail'], dtype='object')
Index(['France', 'Germany', 'Netherlands', 'United Kingdom'], dtype='object', name='country')

### Accessing cells

- Use the **`.iloc`** syntax to access values by **row and column number**.

In [21]:
print(tran.iloc[0, 1])  # Gives the bus data for France.
print(tran.iloc[1, 0])  # Gives the car data for Germany.
print(tran.iloc[2, 2])  # Gives the rail data for Netherlands.
print(tran.iloc[3])     # All data for United Kindom.
print(tran.iloc[:, 1])  # All data for bus.

5.3
85.2
9.0
car     88.2
bus      6.5
rail     5.3
Name: United Kingdom, dtype: float64
country
France            5.3
Germany           7.1
Netherlands       4.6
United Kingdom    6.5
Name: bus, dtype: float64

- Use the **`.loc`** syntax to access values by **row and column names**.
- This is a bit lengthier but **much easier to read** than the `.iloc` syntax.

In [22]:
print(tran.loc['France', 'bus'])
print(tran.loc['Germany', 'car'])
print(tran.loc['Netherlands', 'rail'])
print(tran.loc['United Kingdom'])
print(tran.loc[:, 'bus'])

5.3
85.2
9.0
car     88.2
bus      6.5
rail     5.3
Name: United Kingdom, dtype: float64
country
France            5.3
Germany           7.1
Netherlands       4.6
United Kingdom    6.5
Name: bus, dtype: float64

### Accessing columns

- The following two commands are equivalent:

In [23]:
tran['car'] # Access via column name.
tran.car    # Access via . syntax.

country
France            86.1
Germany           85.2
Netherlands       86.4
United Kingdom    88.2
Name: car, dtype: float64

### Conditionally selecting rows

In [24]:
display(tran[tran.bus > 5.5])                       # Select rows based on 'bus' values.
display(tran[tran.rail > 6.5])                      # Select rows based on 'rail' values.
display(tran[(tran.bus > 5.5) & (tran.rail > 6.5)]) # Select rows based on 'bus' and 'rail' condition.
display(tran[(tran.bus > 5.5) | (tran.rail > 6.5)]) # Select rows based on 'bus' or 'rail' condition.

                 car  bus  rail
country
Germany         85.2  7.1   7.7
United Kingdom  88.2  6.5   5.3

              car  bus  rail
country
France       86.1  5.3   8.6
Germany      85.2  7.1   7.7
Netherlands  86.4  4.6   9.0

          car  bus  rail
country
Germany  85.2  7.1   7.7

                 car  bus  rail
country
France          86.1  5.3   8.6
Germany         85.2  7.1   7.7
Netherlands     86.4  4.6   9.0
United Kingdom  88.2  6.5   5.3

### Adding a column to a `DataFrame`

- **General syntax:** `df[name_new_column] = something`.

In [25]:
tran['public_transport'] = tran.rail + tran.bus # Add new column for overall public transport (rail + bus).
display(tran)

                 car  bus  rail  public_transport
country
France          86.1  5.3   8.6              13.9
Germany         85.2  7.1   7.7              14.8
Netherlands     86.4  4.6   9.0              13.6
United Kingdom  88.2  6.5   5.3              11.8

---
## Using `numpy ` functions for `DataFrame` objects

- Many `numpy` functions can be used on `pd.DataFrame` objects using the `df.<function>`, `df.column.<function>` or `df['column'].<function>` syntax.

In [26]:
print(tran.mean())        # Compute means for all columns.
print(tran.mean().car)    # Compute means for all columns and then access the mean for 'car'.
print(tran.mean()['car']) # Equivalent to previous command.
print(tran.car.mean())    # Compute the mean for the 'car' column.
print(tran['car'].mean()) # Equivalent to previous command.
print(tran.car.idxmax())  # Find the index (i.e., country) which has the maximal value in the 'car' column.

car                 86.475
bus                  5.875
rail                 7.650
public_transport    13.525
dtype: float64
86.47500000000001
86.47500000000001
86.47500000000001
86.47500000000001
United Kingdom

---
## <a name="ex4"></a>Exercise 4
The file `input/annual_precip.csv` contains the average yearly rainfall and total land area for all the countries in the world (well, there are some missing values);  the data is available on the website of the [World Bank](http://data.worldbank.org/). Open the data file to see what it looks like. Load the data with the `read_csv` function of `pandas`, making sure that the names of the countries and the columns can be used to select a row, and perform the following tasks:

* Print the first 5 lines of the `DataFrame` to the screen with the `.head()` function.
* Print the average annual rainfall for Panama and make sure to include the units.
* Report the total land area of the Netherlands and make sure to include the units.
* Report all countries with an average annual rainfall less than 200 mm/year.
* Report all countries with an average annual rainfall more than 2500 mm/year.
* Report all countries with an average annual rainfall that is within 50 mm/year of the average annual rainfall in the Netherlands and save the results as a CSV file `output/rainfall_similar_to_nl.csv` using `pd.DataFrame.to_csv()`.

<a href="#ex4sol">Solution for Exercise 4</a>

---
## Statistical tests with SciPy

- Another widely used package for **scientific computing**.
- Even more functionality than NumPy.
- Documentation can be found [here](https://docs.scipy.org/doc/scipy/reference/).
- We'll only cover one topic: **statistical tests**, more specifically, the **two-sample $t$-test** and the **Fisher exact test**.

### Importing SciPy's `stats` module

In [28]:
from scipy import stats

### Two-sample $t$-test

- Compare means of two independent samples.
- Available in SciPy as [`scipy.stats.ttest_ind()`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html#scipy.stats.ttest_ind).
- The `equal_var` argument controls if sample variances are assumed to be equal (default: `True`).

In [29]:
a = np.random.random_sample(100) + 0.1       # 100 random numbers uniformly drawn from interval [0.1, 1.1).
b = np.random.random_sample(200)             # 200 random numbers uniformly drawn from interval [0, 1).
# Null-hypothesis: No difference in means of a and b.
print(stats.ttest_ind(a, b, equal_var=True)) # Test returns a tuple (test-statistic, p-value).

Ttest_indResult(statistic=3.0534915360662302, pvalue=0.002466107899967792)

### Fisher exact test

- Test if two dichotomous variables are independent.
- Available in SciPy as [`scipy.stats.fisher_exact()`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.fisher_exact.html).
- Use for small sample sizes (too slow, otherwise).
- For larger sample sizes, use the $\chi^2$-test: [`scipy.stats.chi2_contingency()`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html#scipy.stats.chi2_contingency).

In [30]:
table = pd.DataFrame(data={'studying': [1,9], 'not-studying': [11,3]}, index=['men', 'women']) # Generate Dummy data.
display(table)
# Null-hypothesis: Men and women are equally likely to study.
oddsratio, p_value = stats.fisher_exact(table.values)                                          # Run the test.
if p_value < 0.05:
    print(f'The null-hypothesis can be rejected with p-value {p_value:.3E}.')
else:
    print('The null-hypothesis cannot be rejected.')

       studying  not-studying
men           1            11
women         9             3

The null-hypothesis can be rejected with p-value 2.759E-03.

---
## <a name="ex5"></a>Exercise 5

Use `scipy.stats.ttest_ind()` to compare annual rainfalls specified in `input/annual_precip.csv` in countries which are, respectively, larger and smaller than Germany. Pay attention to properly handle missing values (consult panda's documentation to learn how this can be done).

<a href="#ex5sol">Solution for Exercise 5</a>

---
## Solutions for exercises

<a name="ex1sol">Solution for Exercise 1</a>

In [4]:
array = np.zeros(shape=20, dtype=int)
array[:5] = 10
array[5:15] = np.arange(start=12, stop=31, step=2)
array[15:] = 40
print(f'The second but last entry in the array is {array[-2]}.')

The second but last entry in the array is 40.

<a href="#ex1">Back to Exercise 1</a>

<a name="ex2sol">Solution for Exercise 2</a>

In [6]:
x = np.array([[4, 2, 3, 2],
              [2, 4, 3, 1],
              [2, 4, 1, 3],
              [4, 1, 2, 3]])
print(f'The array x:\n{x}')
print(f'The first row of x:\n{x[0, :]}')
print(f'The first column of x:\n{x[:, 0]}')
print(f'The third row of x:\n{x[2, :]}')
print(f'The last two columns of x:\n{x[:, -2:]}')
print(f'The four values in the upper right hand corner:\n{x[:2, -2:]}')
print(f'The four values at the center of x:\n{x[1:3, 1:3]}')

The array x:
[[4 2 3 2]
 [2 4 3 1]
 [2 4 1 3]
 [4 1 2 3]]
The first row of x:
[4 2 3 2]
The first column of x:
[4 2 2 4]
The third row of x:
[2 4 1 3]
The last two columns of x:
[[3 2]
 [3 1]
 [1 3]
 [2 3]]
The four values in the upper right hand corner:
[[3 2]
 [3 1]]
The four values at the center of x:
[[4 3]
 [4 1]]

<a href="#ex2">Back to Exercise 2</a>

<a name="ex3sol">Solution for Exercise 3</a>

In [14]:
# Read input into array using a hand-written parser.
rows = []
with open('input/array_a.csv') as fp:
    for line in fp:
        row = [float(elem) for elem in line.strip().split(',')]
        rows.append(row)
a = np.array(rows)

# Alternatively, you can use np.loadtxt.
# a = np.loadtxt('input/array_a.csv', delimiter=',')

# Compute array b.
b = (a.T - np.pi) * np.e

# Compute array c and save it.
c = a @ b
with open('output/array_c.csv', 'w') as fp:
    for row in c:
        row_as_csv = ','.join([str(cell) for cell in row])
        fp.write(f'{row_as_csv}\n')

In [15]:
%%timeit -n 100
# Use nested for loop to compute column sums.
d = np.zeros(shape=c.shape[1], dtype=float)
for col in range(c.shape[1]):
    for row in range(c.shape[0]):
        d[col] += c[row, col]

182 µs ± 69.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [16]:
%%timeit -n 100
# Use library function to compute column sums.
d = c.sum(axis=0)

14.6 µs ± 4.42 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

<a href="#ex3">Back to Exercise 3</a>

<a name="ex4sol">Solution for Exercise 4</a>

In [27]:
rain = pd.read_csv('input/annual_precip.csv', skiprows=2, index_col=0)

print('First five lines of rain dataset:')
display(rain.head())

print(f"\nAverage annual rainfall in Panama is {rain.loc['Panama','precip']} mm/year.")

print(f"\nLand area of the Netherlands is {rain.loc['Netherlands','area']} thousand km^2.")

print('\nCountries where average rainfall is below 200 mm/year:')
display(rain[ rain.precip < 200 ])

print('\nCountries where average rainfall is above 2500 mm/year:')
display(rain[ rain.precip > 2500 ])

print('\nCountries with almost the same rainfall as Netherlands:')
rainfall_similar_nl = rain[abs(rain.loc['Netherlands','precip'] - rain.precip) < 50]
display(rainfall_similar_nl)
rainfall_similar_nl.to_csv('output/rainfall_similar_to_nl.csv')

First five lines of rain dataset:

                precip    area
country
Afghanistan      327.0   652.2
Albania         1485.0    27.4
Algeria           89.0  2381.7
American Samoa     NaN     0.2
Andorra            NaN     0.5

Average annual rainfall in Panama is 2692.0 mm/year.

Land area of the Netherlands is 33.7 thousand km^2.

Countries where average rainfall is below 200 mm/year:

                      precip    area
country
Algeria                 89.0  2381.7
Bahrain                 83.0     0.8
Egypt, Arab Rep.        51.0   995.5
Jordan                 111.0    88.8
Kuwait                 121.0    17.8
Libya                   56.0  1759.5
Mauritania              92.0  1030.7
Niger                  151.0  1266.7
Oman                   125.0   309.5
Qatar                   74.0    11.6
Saudi Arabia            59.0  2149.7
Turkmenistan           161.0   469.9
United Arab Emirates    78.0    83.6
Yemen, Rep.            167.0   528.0

Countries where average rainfall is above 2500 mm/year:

                       precip    area
country
Bangladesh             2666.0   130.2
Brunei Darussalam      2722.0     5.3
Colombia               2612.0  1109.5
Costa Rica             2926.0    51.1
Fiji                   2592.0    18.3
Indonesia              2702.0  1811.6
Malaysia               2875.0   328.6
Panama                 2692.0    74.3
Papua New Guinea       3142.0   452.9
Sao Tome and Principe  3200.0     1.0
Sierra Leone           2526.0    71.6
Solomon Islands        3028.0    28.0

Countries with almost the same rainfall as Netherlands:

                 precip    area
country
Burkina Faso      748.0   273.6
Lesotho           788.0    30.4
Mexico            752.0  1944.0
Netherlands       778.0    33.7
Slovak Republic   824.0    48.1
Swaziland         788.0    17.2

<a href="#ex4">Back to Exercise 4</a>

<a name="ex5sol">Solution for Exercise 5</a>

In [31]:
rain = pd.read_csv('input/annual_precip.csv', skiprows=2, index_col=0)              # Load the data.
rain.dropna(inplace=True)                                                           # Discard rows with missing data.
rain_in_larger = rain.precip[rain.area >= rain.loc['Germany', 'area']].values       # Rainfall in larger countries.
rain_in_smaller = rain.precip[rain.area < rain.loc['Germany', 'area']].values       # Rainfall in smaller countries.
t_stat, p_value = stats.ttest_ind(rain_in_larger, rain_in_smaller, equal_var=False) # Run two-sided test.
print(f'Two-sided test\nTest statistic: {t_stat}\nP value: {p_value}')
# Run one-sided test.
t_stat, p_value = stats.ttest_ind(rain_in_larger, rain_in_smaller, equal_var=False, alternative='less')
print(f'---\nOne-sided test\nTest statistic: {t_stat}\nP value: {p_value}')

Two-sided test
Test statistic: -3.8724171826322746
P value: 0.00016960348441481194
---
One-sided test
Test statistic: -3.8724171826322746
P value: 8.480174220740597e-05

<a href="#ex5">Back to Exercise 5</a>